<h1>Список пользователей</h1>
<button (click)="addUser()">Добавить</button>
<table>
     
    <tr style="text-align: left;">
        <th>Id</th>
        <th>Имя</th>
        <th>Возраст</th>
        <th></th>
    </tr>
    @for(user of users; track $index){
        <tr>
            <ng-template [ngTemplateOutlet]="loadTemplate(user)" [ngTemplateOutletContext]="{ $implicit: user}">
            </ng-template>
        </tr>
    }
</table>
<div>{{statusMessage}}</div>
     
     
<!--шаблон для чтения-->
<ng-template #readOnlyTemplate let-user>
    <td>{{user._id}}</td>
    <td>{{user.name}}</td>
    <td>{{user.age}}</td>
    <td>
        <button (click)="editUser(user)">Изменить</button> 
        <button (click)="deleteUser(user)">Удалить</button>
    </td>
</ng-template>
    
<!--шаблон для редактирования-->
<ng-template #editTemplate>
    <td>
        <input [(ngModel)]="editedUser!._id" readonly disabled />
    </td>
    <td>
        <input [(ngModel)]="editedUser!.name" />
    </td>
    <td>
        <input type="number" [(ngModel)]="editedUser!.age" />
    </td>
    <td>
        <button (click)="saveUser()">Сохранить</button>
        <button (click)="cancel()">Отмена</button>
    </td>
</ng-template>